.toolbar{
    width:10%;
    position:fixed;
    bottom:2%;
    right:1%;
    padding: 10px;
    background-color: blueviolet;
    border-radius:0px 20px;
    color:black;
}

.relog{
    width:20%;
    height:10%;
}