input{
    display:block;
    margin:1% auto;
    width:50%;
    height:2.8em;
    border-radius: 10px;
    color:black;
    border: 1px solid black;
}

button{
    display:block;
    margin: auto;
    background-color: black;
    color:white;
    padding:2px 20px;
    border-radius: 10px;
}