.card{
    float:left;
    width:20%;
    height:10%;
    border: none;
    margin-top:4%;
    /* border: 1px solid black; */
}

.span_card{
    font-weight: bold;
}

.card-title{
    text-align:center;
    font-size:2.0em;
    color: blueviolet;
}

.card-img{
    display:block;
    margin: auto;
    border-radius:50%;
    width: 50%;
    height:120px;
}

.contenedor_frutas{
    width:80%;
    margin: auto;
}
